<a href="https://colab.research.google.com/github/JotaBlanco/TheValley/blob/main/Notebooks/00___Peque%C3%B1o_repaso_de_formatos_tipos_par%C3%A9ntesis_corchetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de objetos/clases en Python
Los objetos/clases son distintos formatos de variables. Se comportan distinto, pueden tener funciones específicas distintas, etc.

#### Números

In [ ]:
45

45

In [ ]:
a = 3.14
a

3.14

In [ ]:
a*2

6.28

### Strings
Cadena de caracteres:

In [ ]:
'hola'

'hola'

In [ ]:
b = '3.14'
b

'3.14'

In [ ]:
b*2

'3.143.14'

### Listas
Lista de valores (de cualquier tipo).

In [ ]:
[3.14, 'hola', '3.14', 45]

[3.14, 'hola', '3.14', 45]

In [ ]:
[2, 3, [1,2]]

[2, 3, [1, 2]]

### Diccionarios
Estructura de llaves y valores:

In [ ]:
dic = {'Pepe': 1.80, 'Juan': 1.65}
dic

{'Juan': 1.65, 'Pepe': 1.8}

In [ ]:
dic['Pepe']

1.8

In [ ]:
dic['Juan']

1.65

### Tupple

In [ ]:
(33, 3.14, '3.14')

(33, 3.14, '3.14')

# Pandas

In [ ]:
import pandas as pd

### Dataframe

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

### Pandas Index

In [ ]:
df.index

RangeIndex(start=0, stop=17000, step=1)

### Pandas series

In [ ]:
df['total_rooms']

0        5612.0
1        7650.0
2         720.0
3        1501.0
4        1454.0
          ...
16995    2217.0
16996    2349.0
16997    2677.0
16998    2672.0
16999    1820.0
Name: total_rooms, Length: 17000, dtype: float64

# Uso de paréntesis

1.   Para definir los parámetros de una función.
2.   Para definir un tuple

In [ ]:
df.head(6)

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0
5    -114.58     33.63  ...         3.3438             74000.0

[6 rows x 9 columns]

In [ ]:
type(df)

pandas.core.frame.DataFrame

# Uso de los corchetes
1.   Para definir una lista
2.   Acceder a un diccionario
3.   Para acceder a los elementos de un dataframe

### 1. Para definir una lista

In [1]:
a = [2, 4.5]
type(a)

list

### 2. Para acceder a un diccionario

In [ ]:
dic['Juan']

In [ ]:
dic['Pepe']

### 3. Para acceder a un dataframe

In [ ]:
# Acceder a una columna entera
df['total_rooms']

0        5612.0
1        7650.0
2         720.0
3        1501.0
4        1454.0
          ...
16995    2217.0
16996    2349.0
16997    2677.0
16998    2672.0
16999    1820.0
Name: total_rooms, Length: 17000, dtype: float64

In [ ]:
# Acceder a determinadas filas y columnas
df.iloc[-5:-2,2:5]

       housing_median_age  total_rooms  total_bedrooms
16995                52.0       2217.0           394.0
16996                36.0       2349.0           528.0
16997                17.0       2677.0           531.0

In [ ]:
# Acceder a determinadas filas y columnas
df.iloc[0:5,[0,3]]

   longitude  total_rooms
0    -114.31       5612.0
1    -114.47       7650.0
2    -114.56        720.0
3    -114.57       1501.0
4    -114.57       1454.0

In [ ]:
# Acceder a determinadas filas y columnas
df.loc[0:5,['housing_median_age','total_rooms']]

   housing_median_age  total_rooms
0                15.0       5612.0
1                19.0       7650.0
2                17.0        720.0
3                14.0       1501.0
4                20.0       1454.0
5                29.0       1387.0

In [ ]:
['housing_median_age','total_rooms','total_bedrooms']

['housing_median_age', 'total_rooms', 'total_bedrooms']

In [ ]:
lista_cols = ['housing_median_age','total_rooms','total_bedrooms']
df.loc[1:6, lista_cols]

   housing_median_age  total_rooms  total_bedrooms
1                19.0       7650.0          1901.0
2                17.0        720.0           174.0
3                14.0       1501.0           337.0
4                20.0       1454.0           326.0
5                29.0       1387.0           236.0
6                25.0       2907.0           680.0

# Funciones básicas de python
Por ejemplo:
- len()
- type()

In [ ]:
len([2,5,8,10])

4

In [ ]:
a = [2,5,8,10]
len(a)

4

In [ ]:
len(df)

17000

In [ ]:
type([2,3,5])

list

In [ ]:
type(df)

pandas.core.frame.DataFrame

### Funciones específicas de ciertos objetos/clases
Por ejemplo, funciones específicas de Dataframes.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [ ]:
df.describe()

          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

In [ ]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [ ]:
[1,2,3,4,5,6,7,8,89,10].head()

AttributeError: ignored

In [ ]:
[1,2,3,4,5,6,7,8,89,10].describe()

AttributeError: ignored